// Dimensions
$dot-size: 1px;
$dot-space: 22px;

:root {
	--board-background-color: #F2F2F5;
}

.layout-main {
	display: flex;

	main {
		width: 100%;
		background-color: var(--board-background-color);
	}
}


.canvas {

	&-section,
	&-viewport {
		flex: 1;
		display: flex;
		height: 100%;
		width: 100%;
	}

	&-viewport {
		--scroll-size: 6px;
		--scroll-radius: 10px;

		-webkit-overflow-scrolling: touch;
		-webkit-touch-callout: none;
		overflow-x: hidden;
		overflow-x: auto;
		overflow-y: auto;
		-ms-touch-action: pan-x pan-y;
		touch-action: pan-x pan-y;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		overflow: auto;

		&.grabbing {
			cursor: grabbing;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--text-color);
			border-radius: var(--scroll-radius);
		}

		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-corner {
			background-color: var(--board-background-color);
			border-radius: var(--scroll-radius);
		}

		&::-webkit-scrollbar {
			width: var(--scroll-size, 10px);
			height: var(--scroll-size, 10px);
			background-color: transparent;
		}
	}

	&-scroll-area {
		min-height: 120%;
		min-width: 120%;
		overflow: hidden;
	}
}

.board {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	perspective: 1500px;

	&.grid {
		background: linear-gradient(90deg, var(--board-background-color) 21px, transparent 1%) center,
			linear-gradient(var(--board-background-color) 21px, transparent 1%) center, var(--text-color);
		background-size: $dot-space $dot-space;
		background-position: 0 0, 22px 22px;
	}

	&-component {
		display: flex;

		transition-duration: 300ms;
		transition-property: transform, box-shadow;
		transition-timing-function: ease-out;
		transform: rotate3d(0);

		&.dragged {
			transition-duration: 150ms;
			box-shadow: 0 5px 20px 5px #00000044;
		}

		&.selected {
			outline: 2px solid var(--text-color);
			outline-offset: -2px;
		}
	}
}