.layout-main-container {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 6rem);
	justify-content: space-between;
	margin-top: 6rem;
	transition: margin-left $transitionDuration;
}

.layout-main {
	flex: 1 1 auto;
	position: relative;
}